<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/05bc5e50-e6f2-4e49-905c-39635c7bcdea/resourceGroups/DefaultResourceGroup-WUK/providers/Microsoft.Web/sites/EADCA2Anime20230425182720</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WUK</ResourceGroup>
    <ApiResourceId>/subscriptions/05bc5e50-e6f2-4e49-905c-39635c7bcdea/resourceGroups/DefaultResourceGroup-WUK/providers/Microsoft.ApiManagement/service/EADCA2Animeapi2/apis/EADCA2Anime</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eadca2anime20230425182720.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>63fd387f-3545-4a0a-898f-0e842d3ed4b1</ProjectGuid>
    <MSDeployServiceURL>eadca2anime20230425182720.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EADCA2Anime20230425182720</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$EADCA2Anime20230425182720</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>